#moti-showing {
    display:none;
}

.clickable{
    cursor:pointer;
    color:#0088cc;
}
.clickable{
    text-decoration:underline;
}
form{
    font-family: 'Germania One', cursive;
    font-weight: lighter;
    font-style: bold;
    font-size: 40px;

}
body{
    background-image: url(..//images/bg.jpeg);
    text-align: center;
    padding-left: 100px;
    padding-Right:100px;
}
img{
    padding-left: 100px;
    padding-right: 100px;
    border: 10px;
    margin: auto;
}
.jumbotron{

}
